extends layout

block content
	h1 Five Line Rhyme
	p.lead A collection of poems with only 5 lines
	hr
	.row
		each poem in poems
			.col-md-6
				h2= poem.title
				//- the ! makes HTML unescaped
				p(style='white-space: pre-line')!= poem.content
				if poem.user
					if poem.user.profile.pronouns
						h4 User: #{poem.user.userName} (#{poem.user.profile.pronouns})
					else
						h4 User: #{poem.user.userName}
				else 
					h4 User: deleted user
				a.btn.btn-primary(href='#', role='button') View details 